@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {

  /* Footer */
  .logo {
    @apply flex justify-center w-full h-[100px]
  }

  /*Main*/
  h1 {
    @apply text-3xl block
  }

  main {
    @apply flex flex-col mx-auto justify-center w-[1024px]
  }

  form {
    @apply w-full
  }

  input {
    @apply w-full h-8 p-2 text-violet-800 rounded border-2 border-violet-800 focus:outline-none
  }

  button {
    @apply w-24 h-8 rounded bg-violet-800 text-white place-self-end
  }

  .searchForm {
    @apply w-full flex gap-4
  }

  .taskList {
    @apply w-full flex flex-col
  }
  .taskContainer{
    @apply w-full flex flex-[1_4_1] border-b border-violet-800
  }

  .checkBox {
    @apply w-6 h-6 appearance-none rounded border bg-white checked:bg-indigo-600 checked:text-white checked:before:content-['✔'] checked:before:text-white checked:before:text-lg checked:before:flex checked:before:items-center checked:before:justify-center checked:before:w-full checked:before:h-full
  }

  .containerList {
    @apply flex flex-col items-center
  }

  .btnCreateLink {
    @apply size-10 text-white text-3xl rounded-full absolute bottom-20 right-20 bg-violet-800 mt-2
  }

  .snackBarContainer {
    @apply w-40 h-16 border border-violet-800 rounded fixed top-10 right-10 text-center p-4 text-xl
  }

  .Success {
    @apply border-green-600 text-green-600
  }

  .Error {
    @apply border-red-600
  }
}